
#map{
    height: 420px;
    margin-bottom: 10px;
}
#venue-option:hover{
    background-color: lightgray;
 }
#slick-title{
    text-align: center;
}
 
#sub-card{
    margin-bottom:7px
}
h2{
    text-align: center;
    margin: 5%;
}
#food{
    margin-left: 4.3%;

}
.marker:hover{
    transform: scale(1.2);
}
#lodging{

    background-color: purple;
    color: white;
}
/*#bar{

    background-color: lightskyblue;
    color: black;
}
#restaurant{

    background-color: green;
    color: white;
}
#parking{
    background-color: goldenrod;
    color: white;
    border: none;
} */
.btn{
    margin-left: 5px;
    margin-right: 5px;
}
#append-venues{
    height: 350px;
    overflow-y: auto;
}
#current-selection{
    z-index: 1;
    float: right;
}